:root {
    --black: #000807;
    --white: #fbf9ff;
    --lavender: #B3B7EE;
    --blue: #9395D3;
    --gray: #A2A3BB;
    background-color: var(--black);
    color: var(--white);
}

body {
    font-family: 'Inter', sans-serif;
    margin: 15%;
}

h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    body {
        margin: 5%;
    }

    h1 {
        font-size: 3rem;
    }
}

a:link {
    color: var(--lavender);
}

a:visited {
    color: var(--blue);
}

#highlight {
    color: var(--gray);
}