:root {
    --black: #000807;
    --white: #fbf9ff;
    --lavender: #B3B7EE;
    --blue: #9395D3;
    --gray: #A2A3BB;
    background-color: var(--black);
    color: var(--white);
}

body {
    font-family: 'Inter', sans-serif;
    margin: 15%;
}

h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    body {
        margin: 5%;
    }

    h1 {
        font-size: 3rem;
    }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transform-origin: 70% 70%;
    display: inline-block;
}

.wave:hover {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

li {
    padding-top: 1%;
}


a:link {
    color: var(--lavender);
    text-decoration-style: wavy;
    transition: 400ms;
}

a:visited {
    color: var(--blue);
}

a:hover {
    color: var(--white);
}

.highlight {
    color: var(--gray);
}