:root {
    --black: #000807;
    --white: #fbf9ff;
    --lavender: #B3B7EE;
    --blue: #9395D3;
    --gray: #A2A3BB;
}

html {
    cursor: none;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Syne', sans-serif;
}

.main {
    margin: 15%;
}

h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

h2 {
    margin-top: 5%;
    font-size: 2.6;
    font-weight: bold;
    color: var(--gray);
}

.wave {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

li {
    list-style-type: ">  ";
    padding-top: 1%;
}


a:link {
    cursor: none;
    color: var(--lavender);
    text-underline-offset: 0.3rem;
    transition: 300ms;
}

a:hover .circle {
    background-color: transparent;
    border: 1px solid var(--lavender);
}

a:visited {
    color: var(--blue);
}

a:hover {
    color: var(--white);
}

.highlight {
    color: var(--gray);
}

.blob {
    z-index: -1;
    position: fixed;
    width: 150rem;
    height: 150rem;
    border-radius: 150rem;
    background: radial-gradient(62.61% 62.61% at 95.23% 6.02%, #160E71 0%, rgba(19, 13, 92, 0.26) 54.71%, rgba(90, 35, 248, 0) 100%), linear-gradient(72.48deg, #EF516D 2.61%, rgba(106, 103, 227, 0) 56.18%), radial-gradient(45.23% 45.23% at 35.11% -11.02%, #7936AE 0%, rgba(121, 54, 174, 0) 100%), radial-gradient(94.51% 124.88% at 94.32% 94.43%, rgba(65, 244, 255, 0.78) 0%, rgba(131, 218, 255, 0.6552) 32.29%, rgba(99, 175, 240, 0.3978) 64.06%, rgba(43, 90, 211, 0) 100%), linear-gradient(313.04deg, #341D65 0.93%, #604AEA 125.68%);
    background-blend-mode: normal, normal, normal, normal, normal, normal;
    filter: blur(50px);
    opacity: 0.5;
}

.cursor {
    pointer-events: none;
    display: none;
    width: 20px;
    height: 20px;
    background-color: var(--lavender);
    border-radius: 50%;
    top: -10px;
    left: -10px;
    position: fixed;
}

.cursor.hollow {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--lavender);
    background-color: rgba(0, 0, 0, 0);
    top: -15px;
    left: -15px;
    position: fixed;
  }

  @media (max-width: 600px) {
    .main {
        margin: 5%;
    }
    h1 {
        font-size: 2.4rem;
    }
  }